.component-popover {
  .trigger-wrapper {
    --anchor-name: --trigger-wrapper;
  }

  [popover] {
    --position-anchor: --trigger-wrapper;
    position: absolute;
    inset: auto;

    max-width: none;
    min-width: auto;

    justify-content: center;
    word-wrap: break-word;
    font-size: var(--font-size-s, 0.875rem);
    background-color: var(--clr-popover-background, #fff);

    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    opacity: 0;

    &[data-is-animated="true"] {
      transition-behavior: allow-discrete;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
  }

  [popover]:popover-open {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  &[data-position="top"],
  &:not([data-position]) {
    [popover] {
      position-area: top;
      position-try-fallbacks: --bottom, --left, --right;
    }
  }
  &[data-position="bottom"] {
    [popover] {
      position-area: bottom;
      position-try-fallbacks: --top, --left, --right;
    }
  }
  &[data-position="left"] {
    [popover] {
      position-area: left;
      position-try-fallbacks: --right, --top, --bottom;
    }
  }
  &[data-position="right"] {
    [popover] {
      position-area: right;
      position-try-fallbacks: --left, --top, --bottom;
    }
  }
}

@position-try --bottom {
  position-area: bottom;
}
@position-try --top {
  position-area: top;
}
@position-try --left {
  position-area: left;
}
@position-try --right {
  position-area: right;
}
