.component-popover {
  &[data-is-animated="true"] {
    [popover],
    [popovertarget]::before,
    [popovertarget]::after {
      transition-behavior: allow-discrete;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
  }

  [popover] {
    --position-anchor: --popovertarget;
    position: absolute;
    inset: auto;

    max-width: none;
    min-width: auto;
    overflow: visible;

    justify-content: center;
    word-wrap: break-word;
    font-size: var(--font-size-s, 0.875rem);
    background-color: var(--clr-popover-background, #fff);

    border: 1px solid var(--clr-cruk-grey-300, #c6c6c6);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

    opacity: 0;
  }

  [popover]:popover-open {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  [popovertarget] {
    --anchor-name: --popovertarget;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 1rem;
      height: 1rem;
      rotate: 45deg;
      transform-origin: center center center;
      background-color: var(--clr-popover-background, #fff);
      border: 1px solid var(--clr-cruk-grey-300, #c6c6c6);
      display: none;
      opacity: 0;
    }
  }

  [popovertarget]:has(+ :popover-open) {
    &::before {
      display: block;
      opacity: 1;
      @starting-style {
        opacity: 0;
      }
    }
  }

  &[data-position="top"],
  &:not([data-position]) {
    [popover] {
      position-area: top;
      position-try-fallbacks: --bottom;
    }
    [popovertarget]::before {
      top: -0.5rem;
      left: calc(50% - 0.5rem);
    }
  }

  &[data-position="bottom"] {
    [popover] {
      position-area: bottom;
      position-try-fallbacks: --top;
    }
    [popovertarget]::before {
      bottom: -0.5rem;
      left: calc(50% - 0.5rem);
    }
  }

  &[data-position="left"] {
    [popover] {
      position-area: left;
      position-try-fallbacks: --right, --top, --bottom;
    }
    [popovertarget]:has(+ :popover-open)::before {
      left: -0.5rem;
      top: calc(50% - 0.5rem);
    }
  }

  &[data-position="right"] {
    [popover] {
      position-area: right;
      position-try-fallbacks: --left, --top, --bottom;
    }
    [popovertarget]:has(+ :popover-open)::before {
      right: -0.5rem;
      top: calc(50% - 0.5rem);
    }
  }
}

@position-try --bottom {
  position-area: bottom;
}
@position-try --top {
  position-area: top;
}
@position-try --left {
  position-area: left;
}
@position-try --right {
  position-area: right;
}
