.component-icon-fa {
  display: inline-block;
  vertical-align: middle;
  --_icon-size: var(--spacing-xs, 1rem);
  height: var(--_icon-size, 1rem);
  width: var(--_icon-size, 1rem);

  path {
    fill: currentColor;
  }
}
