.component-radio {
  --_radio-size: 1.5rem;
  --_radio-inner-size: 0.75rem;
  --_button-height: 3em;

  box-sizing: border-box;
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  line-height: var(--typ-line-height, 1.5em);
  font-size: var(--font-size-m, 16px);
  font-family: var(--typ-font-family-base, "Poppins", Arial, sans-serif);
  background-color: var(--clr-background-light, #fff);
  width: 100%;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  padding: calc(
      (
          var(--_button-height, 3em) - (var(--size-border-width, 1px) * 2) -
            var(--typ-line-height, 1.5em)
        ) /
        2
    )
    var(--spacing-m, 2rem)
    calc(
      (
          var(--_button-height, 3em) - (var(--size-border-width, 1px) * 2) -
            var(--typ-line-height, 1.5em)
        ) /
        2
    )
    var(--spacing-xl, 4rem);

  min-height: 2rem;

  cursor: pointer;
  transition: color 0.25s linear;
  color: var(--clr-text-dark, #000);

  &:focus-within {
    outline: none !important;
    box-shadow: inset 0 0 0 2px var(--clr-input-border, #2e2d2c);
    box-shadow: inset 0 0 0 2px -webkit-focus-ring-color;
  }

  /* div */
  .check-wrapper {
    display: inline-block;
    height: var(--_radio-size, 1.5rem);
    width: var(--_radio-size, 1.5rem);
    position: absolute;
    top: calc(50% - (var(--_radio-size, 1.5rem) / 2));
    left: var(--spacing-xs, 1rem);

    /* span */
    .check {
      display: block;
      position: relative;
      border: 2px solid var(--clr-input-border, #2e2d2c);
      pointer-events: none;
      border-radius: 100%;
      height: var(--_radio-size, 1.5rem);
      width: var(--_radio-size, 1.5rem);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      transition:
        border 0.25s linear,
        box-shadow 0.25s linear;

      &:hover {
        border-color: var(--clr-check, #d5007d);
      }

      &:before {
        display: block;
        position: absolute;
        content: "";
        border-radius: 100%;
        pointer-events: none;
        height: var(--_radio-inner-size, 0.75rem);
        width: var(--_radio-inner-size, 0.75rem);
        top: calc(50% - (var(--_radio-inner-size, 0.75rem) / 2));
        left: calc(50% - (var(--_radio-inner-size, 0.75rem) / 2));
        margin: auto;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 0.25s linear;
      }
    }
  }

  &:has(input:checked) {
    .check-wrapper {
      .check {
        border-color: var(--clr-check, #d5007d);

        &:before {
          background-color: var(--clr-check, #d5007d);
        }
      }
    }
  }

  &:has(input[aria-invalid="true"]) {
    /* color: var(--clr-danger, #f00); */
    .check-wrapper {
      .check {
        border-color: var(--clr-danger, #f00);

        &:before {
          background-color: var(--clr-danger, #f00);
        }
      }
    }
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    color: var(--clr-disabled, #e6e6e6);

    .check-wrapper {
      .check {
        border-color: var(--clr-disabled, #e6e6e6);
        &:hover {
          border-color: var(--clr-disabled, #e6e6e6);
        }
        &:before {
          background-color: var(--clr-disabled, #e6e6e6);
        }
      }
    }
  }

  /* increase font size for desktop */
  @media (min-width: 1200px) {
    font-size: var(--font-size-ml, 1.125rem);
  }

  /* span */
  .vertical-align {
    display: inline;
    vertical-align: middle;
    line-height: 100%;
    background-color: var(--clr-background-light, #fff);
    min-height: 2em;
    z-index: 1;
  }

  .input {
    *,
    *:after,
    *:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    margin-right: var(--spacing-xxs, 1rem);

    position: absolute;
    left: var(--spacing-xxs, 1rem);
    opacity: 0;
  }
}
