# dependencies
/node_modules

# production
/lib
/public
/storybook-static

# test
/cypress/screenshots
/cypress/videos
/cypress/snapshots/**/__diff_output__
/cypress/snapshots/**/**(failed).snap.png
/cypress/fixtures/example.json 
/src/**/**/*.cypress.tsx

#jest
*.jest.ts

#docs
/src/docs/*.js

#storybook
/src/**/**/*.stories.tsx

.idea
