# dependencies
/node_modules

# production
/lib
/public
/storybook-static
storybook.log
build-storybook.log
.swc/plugins

# test
/cypress/screenshots
/cypress/videos
/cypress/snapshots/**/__diff_output__
/cypress/snapshots/**/**(failed).snap.png
/cypress/fixtures/example.json 
playwright-report
/playwright-results.json
/playwright/.cache  
/test-results

.idea
.env