.component-button {
  --_button-height: 3rem;
  --_button-height-large: 4rem;

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;

  height: min-content;
  min-height: var(--_button-height, 3rem);
  width: auto;
  min-width: auto;

  /* If we know the button height the border height and the line height we can calculate the padding */
  padding: calc(
      (
          var(--_button-height, 3rem) - (var(--btn-border-thickness, 2px) * 2) -
            var(--typ-line-height, 1.5em)
        ) /
        2
    )
    2em;

  border-radius: var(--btn-border-radius, 0px);
  border-style: solid;
  border-width: var(--btn-border-thickness, 2px);

  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease;
  cursor: pointer;

  font-size: var(--font-size-m, 1rem);
  font-family: var(--typ-font-family-buttons, "Poppins", Arial, sans-serif);
  font-weight: var(--typ-font-weight-buttons, 400);
  text-align: center;
  text-transform: var(--btn-text-transform, none);
  text-decoration: var(--btn-text-decoration, none);

  &:focus-visible {
    outline: auto;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &[data-is-icon-button="true"] {
    padding: 0;
    width: var(--_button-height, 3rem);
    min-width: var(--_button-height, 3rem);
  }

  &[data-full="true"] {
    width: 100%;
  }

  &[data-appearance="primary"] {
    background-color: var(--clr-button-primary-background, #e60079);
    border-color: var(--clr-button-primary-border, #e60079);
    color: var(--clr-button-primary-text, #ffffff);
    &:focus,
    &:hover {
      background-color: var(--clr-button-primary-background-hover, #cc006c);
      border-color: var(--clr-button-primary-border-hover, #cc006c);
      color: var(--clr-button-primary-text-hover, #ffffff);
    }
    &:disabled {
      background-color: var(--clr-button-primary-disabled-background, #e6e6e6);
      color: var(--clr-button-primary-disabled-text, #666666);
      border-color: var(--clr-button-primary-disabled-border, #e6e6e6);
    }
  }

  &[data-appearance="secondary"] {
    background-color: var(--clr-button-secondary-background, #ffffff);
    border-color: var(--clr-button-secondary-border, #e60079);
    color: var(--clr-button-secondary-text, #e60079);
    &:focus,
    &:hover {
      background-color: var(--clr-button-secondary-background-hover, #ffe6f3);
      border-color: var(--clr-button-secondary-border-hover, #ffe6f3);
      color: var(--clr-button-secondary-text-hover, #e60079);
    }
    &:disabled {
      background-color: var(
        --clr-button-secondary-disabled-background,
        #e6e6e6
      );
      color: var(--clr-button-secondary-disabled-text, #666666);
      border-color: var(--clr-button-secondary-disabled-border, #e6e6e6);
    }
  }

  &[data-appearance="tertiary"] {
    display: inline-block;
    padding: 0;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    transition: color 0.2s ease;
    color: var(--clr-button-tertiary-text, #e60079);
    &:focus,
    &:hover {
      color: var(--clr-button-tertiary-text-hover, #cc006c);
    }
    &:disabled {
      background-color: transparent;
      color: var(--clr-button-tertiary-disabled-text, #666666);
      border-color: transparent;
    }
  }

  .spacer {
    margin-left: var(--spacing-xxs, 1rem);
    &:first-of-type {
      margin-left: 0;
    }
  }
}
