.component-text {
  font-family: var(--typ-font-family-base, "Poppins", Arial, sans-serif);
  word-break: normal;
  overflow-wrap: break-word;
  text-align: left;
  font-size: var(--font-size-m, 1rem);
  line-height: var(--typ-line-height, 1.5em);
  font-weight: var(--typ-font-weight-base, 300);
  padding: 0;
  margin: 0;
  margin-bottom: var(--spacing-xs, 1rem);

  &:last-child {
    margin-bottom: 0;
  }
}
