.label-component {
  position: relative;
  display: block;
  width: 100%;
  font-family: var(--typ-font-family-label, "Poppins", Arial, sans-serif);
  font-weight: var(--typ-font-weight-labels, 500);
  margin-bottom: var(--spacing-s, 1.5rem);

  .hint-text {
    font-family: var(--typ-font-family-label, "Poppins", Arial, sans-serif);
    font-weight: var(--typ-font-weight-base, 300);
    display: block;
    color: var(--clr-text-mid, #666);
    margin-bottom: var(--spacing-xs, 1rem);
  }

  .required-indication-text {
    font-family: var(--typ-font-family-label, "Poppins", Arial, sans-serif);
    font-weight: var(--typ-font-weight-base, 300);
  }

  .label-text {
    font-family: var(--typ-font-family-label, "Poppins", Arial, sans-serif);
    font-weight: var(--typ-font-weight-labels, 500);
    display: block;
    margin-bottom: var(--spacing-xs, 1rem);
    /* increase font size for desktop */
    @media (min-width: 1200px) {
      font-size: var(--font-size-ml, 1.125rem);
    }

    &[data-hintext] {
      margin-bottom: var(--spacing-xxxs, 0.25rem);
    }
  }
}
