.component-select {
  --_button-height: 3rem;
  --_border-color: var(--clr-text-input-border, #2e2d2c);
  --_border-color-hover: var(--clr-secondary, #e60079);
  --_background-color: var(--clr-background-light, #ffffff);
  --_text-color: var(--clr-text-dark, #000000);
  --_cursor: auto;
  --_pointer-events: auto;
  --_font-size: var(--font-size-m, 1rem);

  display: block;
  position: relative;
  border-radius: var(--size-border-radius, 0px);
  min-height: var(--_button-height, 3rem);
  padding: calc(
      (
          var(--_button-height, 3rem) - (var(--size-border-width, 1px) * 2) -
            var(--typ-line-height, 1.5em)
        ) /
        2
    )
    var(--spacing-m, 2rem)
    calc(
      (
          var(--_button-height, 3rem) - (var(--size-border-width, 1px) * 2) -
            var(--typ-line-height, 1.5em)
        ) /
        2
    )
    var(--spacing-xs, 1rem);
  width: 100%;
  cursor: var(--_cursor);

  background:
    linear-gradient(
      45deg,
      var(--clr-background-light, #fff) 50%,
      var(--clr-select-background, #000) 50%
    ),
    linear-gradient(
      135deg,
      var(--clr-select-background, #000) 50%,
      var(--clr-background-light, #fff) 50%
    );
  background-position:
    calc(100% - 16px) 50%,
    calc(100% - 10px) 50%;
  background-size: 6px 6px;
  background-repeat: no-repeat;

  background-color: var(--_background-color, #fff);
  border: solid var(--size-border-width, 1px) var(--_border-color, #2e2c2d);
  color: var(--_text-color, #000);

  font-family: var(--typ-font-family-base, "Poppins", Arial, sans-serif);
  font-size: var(--_font-size, 1rem);

  transition: border-color 150ms linear;

  &:hover {
    border-color: var(--_border-color-hover, var(--clr-secondary, #e60079));
  }

  &[aria-invalid="true"] {
    border-color: var(--clr-danger, #d51311);
  }

  &:disabled {
    cursor: not-allowed;
    --_background-color: var(--clr-background-mid, #f2f2f2);
    --_border-color-hover: var(--clr-text-input-border, #2e2d2c);
  }
  /* increase font size for desktop */
  @media (min-width: 1200px) {
    --_font-size: var(--font-size-ml, 1.125rem);
  }

  /* Style the select list if browser supports it */
  appearance: base-select;

  &::picker(select) {
    appearance: base-select;
    font-family: var(--typ-font-family-base, "Poppins", Arial, sans-serif);
    font-size: var(--_font-size, 1rem);
  }

  &::picker-icon {
    display: none;
  }
}
