.address-lookup-list-wrapper {
  position: relative;

  ul {
    background-color: var(--clr-background-light, #ffffff);
    border-radius: 3px;
    border: 2px solid #ccc;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin-top: 0;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 999;

    li {
      align-items: center;
      background-color: var(--clr-background-light, #ffffff);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 5px;

      &:hover,
      &:focus {
        background-color: var(--clr-background-mid, #f0f0f0);
      }
    }
  }
}
