@keyframes step-bar-slide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes step-colorfill {
  0% {
    border-color: var(--clr-step-border, #e6e6e6) !important;
    background-color: var(--clr-step-background, #fff) !important;
  }
  100% {
    border-color: var(--clr-tertiary, #009cee) !important;
    background-color: var(--clr-tertiary, #009cee) !important;
  }
}

.component-step {
  --_animation-duration: 0.2s;

  box-sizing: border-box;
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  text-align: center;
  text-transform: capitalize;

  .step-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .step-item {
      display: flex;
      flex-direction: column;
      position: relative;
      font-family: var(--typ-font-family-base, "Poppins", Arial, sans-serif);
      width: var(--_step-item-width, auto);

      &:last-child {
        /* we don't want to display bars for the last step */
        .step-dot::before {
          display: none;
        }
        .step-dot::after {
          display: none;
        }
      }

      .step-dot {
        /* empty dot */
        border-radius: 50%;
        background-clip: padding-box;
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto 0.5em auto;
        background-color: var(--clr-step-background, #fff);
        border: 2px solid var(--clr-step-border, #e6e6e6);
        text-indent: -999px;

        &:before {
          /* empty bar */
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          content: "";
          background-color: transparent;
          border-bottom: 2px solid var(--clr-step-border, #e6e6e6);
          left: 50%;
          top: 11px;
          margin-left: 12px;
        }

        &:after {
          /* filled bar */
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          content: "";
          background-color: transparent;
          border-bottom: 2px solid var(--clr-step-border, #e6e6e6);
          left: 50%;
          top: 11px;
          margin-left: 12px;
        }

        .step-tick {
          display: block;
          transform: rotate(45deg);
          transform-origin: center center;
          height: 14px;
          width: 8px;
          border-bottom: 2px solid var(--clr-text-light, #fff);
          border-right: 2px solid var(--clr-text-light, #fff);
          margin-top: 2px;
          margin-left: 6px;
        }
      }

      &[data-is-done="true"] {
        /* filled dot */
        .step-dot {
          background-color: var(--clr-tertiary, #009cee) !important;
          border-color: var(--clr-tertiary, #009cee);
        }

        /* filled bar */
        ::after {
          border-bottom-color: var(--clr-tertiary, #009cee);
        }
      }

      &[data-is-last-done="true"] {
        /* filled bar */
        ::after {
          animation: step-bar-slide var(--_animation-duration) ease-in;
        }
      }

      &[data-is-active="true"] {
        /* filled dot */
        .step-dot {
          animation: step-colorfill var(--_animation-duration) ease-in forwards
            var(--_animation-duration);
        }
      }
    }
  }
}
