.component-step {
  box-sizing: border-box;
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  text-align: center;
  text-transform: capitalize;

  .step-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    /* li */
    .step-item {
      display: flex;
      flex-direction: column;
      position: relative;
      font-family: var(--typ-font-family-base, "Poppins", Arial, sans-serif);
      width: var(--_step-item-width, auto);

      &:last-child {
        .step-bar::after {
          display: none;
        }
      }

      .step-bar {
        border-radius: 50%;
        background-clip: padding-box;
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto 0.5em auto;
        background-color: var(--clr-step-background, #fff);
        border: 2px solid var(--clr-step-border, #e6e6e6);
        text-indent: -999px;

        &:after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          content: "";
          background-color: transparent;
          border-bottom: 2px solid var(--clr-step-border, #e6e6e6);
          left: 50%;
          top: 11px;
          margin-left: 12px;
        }

        .step-tick {
          display: block;
          transform: rotate(45deg);
          transform-origin: center center;
          height: 14px;
          width: 8px;
          border-bottom: 2px solid var(--clr-text-light, #fff);
          border-right: 2px solid var(--clr-text-light, #fff);
          margin-top: 2px;
          margin-left: 6px;
        }
      }

      &[data-is-active="true"] {
        .step-bar,
        &:after {
          background-color: var(--clr-tertiary, #009cee);
          border-color: var(--clr-tertiary, #009cee) !important;
        }
      }

      &[data-is-done="true"] {
        .step-bar,
        &:after {
          background-color: var(--clr-tertiary, #009cee) !important;
          border-color: var(--clr-tertiary, #009cee);
        }
        .step-bar::after {
          border-bottom-color: var(--clr-tertiary, #009cee);
        }
      }
    }
  }
}
