.component-modal {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-background-light, #fff);
  min-height: 10rem;
  width: 90%;
  max-width: 500px;
  margin: var(--spacing-xs) auto auto auto;
  margin-bottom: var(--spacing-xxl);
  padding: var(--spacing-xs);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border: none;
  opacity: 0;
  scale: 0;

  &::backdrop {
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
    backdrop-filter: 0.3s;
    z-index: 100;
    background-color: hsl(0 0 0 / 0.5);
    display: none;
  }

  &[data-is-animated="true"] {
    transition-behavior: allow-discrete;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &::backdrop {
      transition-behavior: allow-discrete;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }

  &[open] {
    display: block;
    opacity: 1;
    scale: 1;

    @starting-style {
      opacity: 0;
      scale: 0;
    }

    &::backdrop {
      display: block;
      background-color: hsl(0 0 0 / 0.5);

      @starting-style {
        background-color: hsl(0 0 0 / 0);
      }
    }
  }

  .close-button {
    float: right;
    margin-left: var(--spacing-xs, 1rem);
    font-size: 1.2rem;
    padding: 0;
  }
}
