@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.component-modal {
  .wrapper {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  .content {
    position: relative;
    background-color: var(--clr-background-light, #fff);
    min-height: 10rem;
    width: 90%;
    max-width: 500px;
    margin: var(--spacing-xs) auto auto auto;
    margin-bottom: var(--spacing-xxl);
    padding: var(--spacing-xs);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    animation-direction: normal;
    transform-origin: top center;
    animation: none;

    &[data-is-animated="true"] {
      animation: grow 0.2s ease-in-out;
    }
  }

  .close-button {
    float: right;
    margin-left: var(--spacing-xs, 1rem);
    font-size: 1.2rem;
    padding: 0;
  }

  .background {
    position: fixed;
    background: var(--clr-modal-backdrop, #000);
    bottom: 0;
    left: 0;
    opacity: 0.5;
    right: 0;
    top: 0;
    transition:
      opacity 0.3s,
      bottom 0s 0.3s;
    z-index: 100;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-name: none;

    &[data-is-animated="true"] {
      animation-name: fade;
    }
  }
}
