@font-face {
  font-family: "Progress";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/Progress-Regular.woff2")
    format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Progress";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/Progress-SemiBold.woff2")
    format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/Poppins-SemiBold.woff2")
    format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/Poppins-Medium.woff")
    format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/Poppins-Regular.woff2")
    format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/Poppins-Light.woff")
    format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "juana";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/juana-semibold-webfont.woff2")
    format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "ITCAvantGarde";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/itc_-_itcavantgardepro-bold-webfont.woff")
    format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "ITCAvantGarde";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/ITCAvantGardePro-Demi.woff")
    format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "ITCAvantGarde";
  src: url("https://rcl.assets.cancerresearchuk.org/fonts/ITCAvantGardeStd-Bk.woff")
    format("woff");
  font-weight: 400;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:after,
  *:before {
    animation-play-state: paused !important;
    animation-direction: reverse !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

table,
td,
th {
  border-spacing: 0;
  border: 1px solid #ccc;
  padding: 10px;
}
.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}
img {
  width: 100%;
  height: auto;
}
section {
  width: 100%;
}
button {
  font-size: 1em;
}

:root {
  --theme: "cruk";

  --content-max-width: 1020px;
  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 992px;
  --breakpoint-desktop-large: 1200px;

  --spacing-none: 0;
  --spacing-auto: auto;
  --spacing-xxxs: 0.25rem; /* 4px */
  --spacing-xxs: 0.5rem; /* 8px */
  --spacing-xs: 1rem; /* 16px */
  --spacing-s: 1.5rem; /* 24px */
  --spacing-m: 2rem; /* 32px */
  --spacing-l: 2.5rem; /* 40px */
  --spacing-xl: 3rem; /* 48px */
  --spacing-xxl: 3.5rem; /* 56px */

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-s: 0.875rem; /* 14px */
  --font-size-m: 1rem; /* 16px */
  --font-size-ml: 1.125rem; /* 18px */
  --font-size-l: 1.25rem; /* 20px */
  --font-size-xl: 1.5625rem; /* 25px */
  --font-size-xxl: 2rem; /* 32px */
  --font-size-xxxl: 2.5rem; /* 40px */
  --font-size-xxxxl: 3.125rem; /* 45px */
}

[data-theme="cruk"] > * {
  --theme: "cruk";
}

[data-theme="rfl"] > * {
  --theme: "rfl";
}

[data-theme="su2c"] > * {
  --theme: "su2c";
}

[data-theme="bowelbabe"] > * {
  --theme: "bowelbabe";
}
