/* div */
.component-carousel {
  position: relative;
  width: 100%;
  overflow-y: hidden;

  ul {
    --_smooth-scrolling: auto;

    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    scroll-behavior: var(--_smooth-scrolling);

    &[data-smooth-scrolling="true"] {
      --_smooth-scrolling: smooth;
    }

    li {
      scroll-snap-align: center;
      display: inline-block;
      width: var(--_full-width-child);

      --_full-width-child: 80%;

      [data-full-width-child="true"] {
        --_full-width-child: 100%;
      }

      .carousel-card-inner {
        --_selected: "false";
        --_shrink-unselected-pages: "false";
        --_only-child: "false";
        --_full-width-child: "false";

        transition: transform 0.2s linear;
        transform: scale(0.9);

        &[data-only-child="true"] {
          transform: scale(1);
        }

        &[data-selected="true"][data-shrink-unselected-pages="true"] {
          transform: scale(1);
        }
        &[data-full-width-child="true"] {
          transform: scale(1);
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    font-size: 1em;
  }

  .vertical-align {
    display: block;
    margin: auto;
    height: 1.25em; /* should be same size a icon size */
  }

  .carousel-button {
    height: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    /* TODO if this makes it into the component library carouselButtonColor should be a theme prop */
    color: var(--clr-carousel-button, #e60079);
    font-size: var(--font-size-xxxl, 2rem);
    font-weight: 600;
    transition:
      color 0.3s ease,
      transform 0.3s ease;
    max-width: 3rem;
    padding: 0;
    vertical-align: middle;
    user-select: none;

    transform: scale(0.8);
    &:hover {
      transform: scale(1);

      &:disabled {
        transform: scale(0.8);
      }
    }

    &:disabled {
      color: var(--clr-disabled, #e6e6e6);
    }
  }

  .dot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: none;

    /* on mobile hide dots if count is greater than 6 */
    &[data-count="1"],
    &[data-count="2"],
    &[data-count="3"],
    &[data-count="4"],
    &[data-count="5"],
    &[data-count="6"] {
      display: flex;
    }

    /* on tablet hide dots if count is greater than 10 */
    @media (min-width: 768px) {
      &[data-count="7"],
      &[data-count="8"],
      &[data-count="9"],
      &[data-count="10"] {
        display: flex;
      }
    }
    /* on tablet hide dots if count is greater than 20 */
    @media (min-width: 1024px) {
      &[data-count="11"],
      &[data-count="12"],
      &[data-count="13"],
      &[data-count="14"],
      &[data-count="15"],
      &[data-count="16"],
      &[data-count="17"],
      &[data-count="18"],
      &[data-count="19"],
      &[data-count="20"] {
        display: flex;
      }
    }
    /* button */
    .dot {
      border: none;
      outline-offset: var(--spacing-xxs, 1rem);
      padding: 0;
      margin: auto var(--spacing-xxs, 1rem);
      width: var(--font-size-l, 1.25rem);
      height: var(--font-size-l, 1.25rem);
      border-radius: 50%;
      user-select: none;
      border: solid 1px var(--clr-carousel-button, #000000);
      background-color: var(--clr-background-light, #ffffff);
      transition:
        background-color 0.3s ease,
        transform 0.3s ease;
      transform: scale(0.8);

      &:hover {
        transform: scale(1);
      }

      &[aria-checked="true"] {
        background-color: var(--clr-carousel-button, #000000);
      }
    }
  }
}
