.component-box {
  background-color: transparent;
  padding: 0;
  margin: 0 0 var(--spacing-m, 2rem) 0;

  &:last-child {
    margin-bottom: 0;
  }
  /* if we have a background color, add padding */
  &[data-bg-color] {
    padding: var(--spacing-s, 1.5rem);
  }
}
