.component-user-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;

  .details {
    flex: 1;
    margin-left: var(--spacing-xs, 1rem);
    text-align: left;
    min-width: 0;
  }

  .name {
    font-family: var(--typ-font-family-headings, "Progress", Arial, sans-serif);
    font-size: var(--font-size-l, 1.25rem);
    white-space: normal;
    word-break: break-word;
    margin: 0;
  }

  .extra {
    display: block;
    color: var(--clr-user-block-extra-text, #575757);
    margin: 0;
    margin-top: 4px;
    white-space: normal;
    word-break: break-word;
  }
}
